body{
	background-image: url(https://img.freepik.com/premium-photo/dark-background-with-burning-fire-words-fire-it_1108753-8281.jpg);
	background-size: 700px;

}

h1{
	color:white;
	font-size: 40px;
	font-weight: normal;
	font-family: "Bahnschrift";
	style
}




h2{
	color:white;
	font-size: 30px;
	font-weight: normal;
	font-family: "Bahnschrift";
	sty
}
